# general java stuff
*.class
*.jar

# antlr generated things
*.interp
*.tokens
JavaLexer.java
JavaParser.java
JavaParserBaseVisitor.java
JavaParserVisitor.java

# gradle things
.gradle
build/
src/generated/
